<div class="container mt-5" style="background-color: rgb(205, 215, 226);">
  <div class="row align-items-center">
    <div class="row mx-1 mt-3 ">
      <div class="container mt-2 d-flex justify-content-center my-2">
        <div class="">
          <div class="row align-items-center">
            <div class="error-template">
              <h3 class="title-danger text-danger">狀態異常：{{statusCode}}</h3>
              <div class="error-details">
                <h4 class="text-danger">{{message}}</h4>
              </div>
              <div class="error-actions">
                <a class="btn btn-outline-secondary w-50 my-3" href="/">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>